<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
  <hr class="sidebar-divider my-0" />
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/home/entidad">
      <i class="fas fa-building"></i>
      <span>Entidad</span></a
    >
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/home/documento">
      <i class="fas fa-address-card"></i>
      <span>Documento</span></a
    >
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/home/contribuyente">
      <i class="fas fa-sitemap"></i>
      <span>Contribuyente</span></a
    >
  </li>
  <hr class="sidebar-divider d-none d-md-block">
</ul>